.dropdown {
  .dropdown-menu-label {

  }

    .dropdown-menu {
      display: none;
      position: absolute;
    }

  &:hover {

      .dropdown-menu {
        display: block;
        position: relative;
      }
    
  }
}
