<div>
    <h3>Welcome to the Backbone Boilerplate</h3>

    <p>
        Try giving the home view a route parameter by clicking
        <a href='#home/cool! views can refresh in responses to routes!'>here</a>
    </p>

    <p>{{message}}</p>
</div>
